@{
    ViewBag.Title = "Home Page";
}

<div class="container content">
    <div class="heading">
        <h2>Team Unreal
        </h2>
        <p>We’ve been working with startups to build and scale digital products.
Here is some of the client work we’ve created from scratch, and some of the projects we’ve helped develop.</p>
    </div><!-- //end heading -->
    <div class="row">
        <div class="col-sm-6">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="https://pp.userapi.com/c629513/v629513919/3fee/aGa9fNg-dSw.jpg" alt="">
                </div>
              
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="https://pp.userapi.com/c626119/v626119396/a09d/7SAZjYDFEbE.jpg" alt="">
                </div>
               
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div><!-- //end row -->

    <section>
        <div class="container">
            <h2 class="heading ">TECHNOLOGIES WE USE</h2>
            <div class="row">
                <div class="center">
                    
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-html5.png" alt="HTML5">
                                    </div>
                                </div>
                            </div>
                            <h3>HTML5</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-css.png" alt="CSS">
                                    </div>
                                </div>
                            </div>
                            <h3>CSS</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-javascript.png" alt="JavaScript">
                                    </div>
                                </div>
                            </div>
                            <h3>JavaScript</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-react.png" alt="React">
                                    </div>
                                </div>
                            </div>
                            <h3>React</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-angular.png" alt="Angular">
                                    </div>
                                </div>
                            </div>
                            <h3>Angular</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content">
                            <div class="for_img">
                                <div class="table">
                                    <div class="td">
                                        <img src="https://sloboda-studio.com/wp-content/uploads/2017/01/ti-ruby.png" alt="Ruby">
                                    </div>
                                </div>
                            </div>
                            <h3>Ruby</h3>
                        </div>
                    </div>
                    
                   
                   
                </div>
            </div>
        </div>
    </section>

</div>
